<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
      <title>SM Monitoring App</title>
      <style>
         body {
        background-color: #f8f9fa;
        }

        .container {
        max-width: 800px;
        }

        .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        }

        .btn-primary:hover {
        background-color: #0069d9;
        border-color: #0062cc;
        }

        .btn-primary:focus, .btn-primary.focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
        }
      </style>
   </head>
   <body>
        <!--<img src="{{ url_for('static', filename='ksp_datathon_logo.jpg') }}" alt="Logo" style="height: 120px;width:100%;display:block;margin-left:auto;margin-right:auto;">-->
        <nav class="navbar navbar-dark bg-dark justify-content-center">
            <span class="navbar-brand mb-0 h2">Adverse Event Monitoring App</span>
        </nav>
        <div class="container mt-5">
            <div class="form-group">
            <h4>Enter Social Media Post:</h4>
            <textarea class="form-control" id="inputText" rows="3"></textarea>
            </div>
            <button type="button" class="btn btn-primary" onclick="detectADR()" id="btnSubmit">Submit</button>
            <table class="table table-striped mt-5" style="display: none;" id="resTable">
                <tbody>
                  <tr>
                    <th style="width: 20%">Sentiment:</th>
                    <td id="sentiment" style="font-family: Arial;"></td>
                  </tr>
                  <tr>
                    <th style="width: 20%">Event Type:</th>
                    <td id="event_type" style="font-family: Arial;"></td>
                  </tr>
                  <tr>
                    <th style="width: 20%">Event Place:</th>
                    <td id="event_place" style="font-family: Arial;"></td>
                  </tr>
                  <tr>
                    <th style="width: 20%">Severity:</th>
                    <td id="severity" style="font-family: Georgia;"></td>
                  </tr>
                  <tr>
                    <th style="width: 20%">Hashtags:</th>
                    <td id="hashtags" style="font-family: Georgia;"></td>
                  </tr>
                </tbody>
            </table>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                <h5 class="modal-title mb-3">Please wait while the response is being generated. It will take few minutes</h5>
                <div class="spinner-border text-primary mb-3" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                </div>
            </div>
            </div>
        </div>
      <!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<!-- Bootstrap JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
		function detectADR() {
			var textInput = $("#inputText").val();
            const tdsentiment = document.getElementById('sentiment');
            const tdevent_type = document.getElementById('event_type');
            const tdevent_place = document.getElementById('event_place');
            const tdseverity = document.getElementById('severity');
            const tdhashtags = document.getElementById('hashtags');
            const loadingModal = $('#loadingModal');

			$.ajax({
				url: "/process",
				type: "POST",
				dataType: "json",
				contentType: "application/json",
				data: JSON.stringify({ 'input_text' : textInput.trim() }),
                beforeSend: function() {
                    loadingModal.modal('show');
                },
				success: function(response) {
                    if (response.status != 200){
                        alert(response.message);
                        return;
                    }
					var sentiment = response.sentiment;
                    var event_type = response.event_type;
                    var event_place = response.event_place;
                    var severity = response.severity;
                    var hashTags = response.hashtags;
                    // var detectColor= "green"
                    // if (adeDetected == 'Yes'){
                    //     detectColor = "red";
                    // };
                    tdsentiment.innerHTML = sentiment;
                    //tdADRDetected.style.color = detectColor;
                    tdevent_type.innerHTML = event_type;
                    tdevent_place.innerHTML = event_place;
                    tdseverity.innerHTML = severity;
                    tdhashtags.innerHTML = hashTags;
                    document.getElementById("resTable").style.display = "table";
                    alert('Response generated successfully!!');
                    return;
				},
				error: function(xhr, textStatus, errorThrown) {
					alert("Error:", errorThrown);
                    return;
				},
                complete: function() {
                    loadingModal.modal('hide');
                    return;
                }
			});
		};

		// $(document).ready(function() {
		// 	$("#btnSubmit").click(function() {
		// 		detectADR();
		// 	});
		// });
	</script>
   </body>
</html>
